{% extends 'base.html' %}

{% block title %}
    Zaloguj się!
{% endblock %}

{% block content %}

    <h1>Zaloguj się!</h1>

    {% if not request.user.is_authenticated %}
        <form method='post'>
            {% csrf_token %}

            {{form.username_or_email.label}} {{form.username_or_email}}
            
            <br>

            {{form.password.label}} {{form.password}}
            <br>

            <button type="submit">Zaloguj się</button>
        </form>
    {% else %}
        <p>Jesteś już zalogowan(a/y) jako: {{ user.get_username }}</p>
    {% endif %}
    
{% endblock %}