{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title%} {% endblock %}</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>

        <nav>
            <ul class="menu">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Strona główna</a></li>
                <li class="{% if request.path == '/accounts/' %}active{% endif %}"><a href="{% url 'accounts' %}">
                    {% if request.user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Konto
                    {% endif %}
                </a></li>

                <li class="right"><a href="{% url 'admin:index' %}">Konsola admina</a></li>
                <li class="{% if request.path == '/accounts/register/' %}active{% endif %} right"><a href="{% url 'register' %}">Zarejestruj się</a></li>
            
                {% if request.user.is_authenticated %}
                    <li class="{% if request.path == '/accounts/logout/' %}active{% endif %} right "><a href="{% url 'logout' %}">Wyloguj się</a></li>
                {% else %}
                    <li class="{% if request.path == '/accounts/login/' %}active{% endif %} right"><a href="{% url 'login' %}">Zaloguj się</a></li>
                {% endif %}
                    
            </ul>
        </nav>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>
                        <div class="message {{ message.tags }}">{{ message }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    
    </body>
</html>