{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title%} {% endblock %}</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>

        <nav>
            <ul class="menu">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Strona główna</a></li>
                <li class="{% if request.path == '/accounts/' %}active{% endif %}"><a href="{% url 'accounts' %}">Konto</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
    </body>
</html>