* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: block;
    background-color: #183e4b;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

ul.menu {
    font-size: 0;
}
ul.menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

ul.menu li.right {
    float: right;
}

ul.menu li a {
    display: block;
    text-decoration: none;
    padding: 0px 30px;
    color: white;
}

ul.menu li:hover {
    background-color: #23697e;
}

ul.menu li.active {
    background-color: #d74a49;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.messages li {
    margin-bottom: 5px;
}

.message {
    padding: 15px;
    background-color: #183e4b;
    color: #eaeaea;
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 25px;
    border: none;
}

.message.success {
    background-color: #3b8821;
    color: #eaeaea;
}

.message.error {
    background-color: #e9c420;
    color: black;
}

.message.info {
    background-color: #5749d7;
    color: #eaeaea;
}

.message.warning {
    background-color: #d74a49;
    color: #eaeaea;
}

div.content {
    padding: 20px;
}

span.code-line {
    font-family: 'Courier New', Courier, monospace;
}